* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100vh;
  background-color: whitesmoke;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: dimgray;
  font-size: 1rem;
}

a:hover {
  color: orange;
}

/* HEADER */
header {
  position: relative;
  padding: 0 2rem;
}

.navbar {
  width: 100%;
  height: 70px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo img {
  height: 60px;
  width: auto;
}

/*.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
} */

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: dimgray;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

/* DROPDOWN MENU */
.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 250px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 180px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* INICIO */
section#inic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

#inic h1 {
  padding: 20px;
  font-size: 1.4rem;
}

#inic h2 {
  padding: 20px;
  font-size: 1rem;
}

#inic p {
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  font-size: 1.1rem;
  font-style: italic;
}

/* RESPONSIVE DESIGN */
@media (max-width: 992px) {
  .navbar .links {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}